.product-item {
    align-content: center;
    text-align: center;
}

.btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.product-item_image img {
    height: 20rem;
}
